# ==================================
# Python Build Artifacts
# ==================================
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# ==================================
# Environment and Build Tools
# ==================================
**/.env*
.tox
.venv

# ==================================
# Testing and Coverage
# ==================================
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
tests/
scripts/

# ==================================
# Logs and Misc
# ==================================
*.log
.git*
postman/
postgres-data/