services:
  devcontainer:
    image: "mcr.microsoft.com/vscode/devcontainers/base:ubuntu-22.04"
    env_file: .env
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - ../:/workspaces/family-task-hub:cached
    command: sleep infinity

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 7
      start_period: 3s
      timeout: 5s
    volumes:
      - postgres-data-dev:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "15432:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data-dev:/var/lib/pgadmin

volumes:
  postgres-data-dev:
  pgadmin-data-dev:
