services:
  backend:
    working_dir: /workspace/backend
    build:
      context: ../backend
      dockerfile: ../.devcontainer/backend/Dockerfile
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_PORT: ${POSTGRES_PORT}
    ports:
      - "8000:8000"
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
  
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 7
      start_period: 3s
      timeout: 5s
    volumes:
      - postgres-data-dev:/var/lib/postgresql/data
    
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "15432:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data-dev:/var/lib/pgadmin

  frontend:
    working_dir: /workspace/frontend
    build:
      context: ../frontend
      dockerfile: ../.devcontainer/frontend/Dockerfile
    user: "bun"
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres-data-dev:
  pgadmin-data-dev: